# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE configuration files
.vscode/
.idea/
*.swp
*.swo

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
